<button type="button" onclick="location.href='/memos/new'">追加</button>

<% if @memos.empty? %>
  <p>メモがありません。</p>
<% else %>
  <ul>
    <% @memos.each do |memo| %>
      <li><a href="/memos/<%= memo['id'] %>"><%= memo['title'] %></a></li>
    <% end %>
  </ul>
<% end %>
