<h2><%= h(@memo['title']) %></h2>
<pre><%= h(@memo['content']) %></pre>

<button type="button" onclick="location.href='/memos/<%= @memo['id'] %>/edit'">変更</button>

<form action="/memos/<%= @memo['id'] %>" method="post" onsubmit="return confirm('本当に削除しますか？');" style="display: inline;">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">削除</button>
</form>

<p><a href="/memos">一覧に戻る</a></p>
