<div class="row">
  <div class="col-lg-6 col-md-8">

    <h2 class="memo-title mb-3"><%= h(@memo['title']) %></h2>

    <div class="card">
      <div class="card-body">
        <pre class="card-text mb-0"><%= h(@memo['content']) %></pre>
      </div>
    </div>

    <div class="mt-4">
      <a href="/memos/<%= @memo['id'] %>/edit" class="btn btn-secondary">変更</a>

      <form action="/memos/<%= @memo['id'] %>" method="post" onsubmit="return confirm('本当に削除しますか？');" style="display: inline;">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger">削除</button>
      </form>
    </div>

    <p class="mt-4"><a href="/memos">一覧に戻る</a></p>

  </div>
</div>
